@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', 'Noto Color Emoji', sans-serif;
  font-size: 14px;
  background-color: #c4c4c4;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 150px;
}

.container form {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  color: grey;
  padding: 20px;
}

.login-logo {
  font-size: 26px;
  font-weight: 600;
}

.login-logo span {
  color: #50b57a;
}

.login-underlogo {
  margin-bottom: 30px;
  color: grey;
}

.login-form input {
  width: 280px;
  height: 25px;
  padding-left: 10px;
  color: white;
  background-color: #302b2b;
  border-radius: 10px;
  margin: 5px 0 10px;
}

.login-form button {
  width: 280px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px auto;
}

.login-form p {
  margin: 0 auto;
}
.login-form__signup a {
  color: #50b57a;
}

.hovering:hover {
  cursor: pointer;
  opacity: 0.8;
}
